{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- static css file -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/qurees.css' %}"> 

    <title>Image Resizer</title>
  </head>
  <body>
    
    <section class="resizer-section">
      <div class="main-form-cls">
        <form action="{% url 'save_data' %}" method="POST" enctype="multipart/form-data" class="form-cls">
          {% csrf_token %}
          <div class="inner-form">
            <div class="form-hedaer">
              <h1>Image Resizer</h1>
            </div>
            <div class="dimension">
              <h2>Enter the Dimention<span style="color: orange;">*</h2>
              <div class="inner-dimension">
                <input type="number" name="width" placeholder="Width" class="width" id="width-id" required>
                <label class="cross">+</label>
                <input type="number" name="height" placeholder="Height" class="height" id="height-id" required>
              </div>
              <div class="choose-image">
                <h2>Select image<span style="color: orange;">*</h2>
                <div class="choose-image-inner">
                  <input type="file" name="img" class="img-file" id="img-id" style="margin-left:30px;" required>
                </div>
              </div>
              <div class="resize-btn">
                <input type="submit" name="resize" value="Resize" class="btn" id="resize-btn-id" onclick="Resize()">
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>

    
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
  </body>
</html>
